body{text-align:center}


#ModalCanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;
    height: 250px;
}


#PhysicalChart{
     width: 1000px;
     height: 400px;
     margin: 0 auto
 }

#ModalChart{
    width: 1000px;
    height: 400px;
    margin: 0 auto
}

input {
    text-align: center;
}